@page
@using WindemereManor.Models;
@model WindemereManorWeb.Pages.Fridge.IndexModel
@{
    ViewData["Title"] = "Hoyer Kitchen - Fridge";
}

<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>
<h1>What's in the Fridge?</h1>

<p>
    <a asp-page="Create">Add Fridge Item</a>
</p>
<br />

<h2>Upstairs Fridge</h2>
<table border="1">
    <tr>
        <th>Item</th>
        <th>Added</th>
        <th>Expires</th>
    </tr>
    @foreach (FridgeItem item in Model.UpstairsFridgeContents)
    {
        <tr>
            <td>@item.ItemName</td>
            <td>@String.Format("{0:d}", item.AddedOn)</td>
            <td>@String.Format("{0:d}", item.Expiration)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
</table>
<br />

<h2>Downstairs Fridge</h2>
<table border="1">
    <tr>
        <th>Item</th>
        <th>Added</th>
        <th>Expires</th>
    </tr>
    @foreach (FridgeItem item in Model.DownstairsFridgeContents)
    {
        <tr>
            <td>@item.ItemName</td>
            <td>@String.Format("{0:d}", item.AddedOn)</td>
            <td>@String.Format("{0:d}", item.Expiration)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
</table>